html {
    font-size: 10px;
    font-family: sans-serif;

}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 13rem;
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: black;
}

@font-face {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    src:url("https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i");

} 

.photoGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}

.photo {
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;

}

.button-container{
    display: flex;
    justify-content: center;
}

.remove-button{
    flex-basis: 48%;
    color: red;
    font-size: 15px;
    border: 2px solid #f2f2f2;
    line-height: 2;
    padding: 5px;
}

.addIcon {
    margin: 20px auto;
    display: table;
    padding: 40px;
    background:url("https://www.vippng.com/png/full/43-435734_plus-sign-button-comments.png") center no-repeat;
    background-size: contain;
    border: none;
}